%h2
  = @exception.message
- if @exception.try :source_extract
  %ul
    - @exception.source_extract.each do |line|
      %li
        = line
%ul
  - @exception.backtrace.each do |line|
    %li
      = line

