- decorator = decorator_class_name(entity, @namespace)
- decorated_object = decorator.constantize.decorate(entity)
= component 'tailwinds/table/row', cells: decorator.constantize.list_attributes.reduce({}) { |hash, attribute| hash.merge! attribute => decorated_object.public_send(attribute) }, href: decorated_object.show_path
