%script{ src: "https://cdn.tailwindcss.com" }

= javascript_importmap_tags
= tramway_form_for @user_form, url: { controller: :users, action: :create } do |f|
  = f.multiselect :role, [['Admin', 'admin'], ['User', 'user']], label: false

  = f.submit 'Create user'

