%div{ class: item_classes, data: { action: "click->multiselect#toggleItem", text: "{{text}}", value: "{{value}}" } }
  %div{ class: item_inner_classes }
    %div{ class: item_text_classes }
      .mx-2.leading-6
        {{text}}
