%div{ class: selected_item_classes, data: { action: "click->multiselect#toggleItem", text: "{{text}}", value: "{{value}}" } }
  .font-normal.leading-none.max-w-full.flex-initial
    {{text}}
  .flex.flex-auto.flex-row-reverse
    .cursor-pointer 
      тип
