- if object.model.errors.any?
  - messages = (object.errors.full_messages + object.model.errors.full_messages).uniq
  .alert.alert-dismissible.alert-danger
    %h4= t('.some_errors_was_found')
    %ul
      - messages.each do |message|
        %li= message
- if params[:message]
  .alert.alert-dismissible.alert-info
    %h4= t("messages.#{params[:message]}")
