.mb-4
  - if @label
    = component('tailwinds/form/label', for: @for) do
      = @label
  %div{ class: wrapper_classes, data: multiselect_hash, id: "#{@for}_multiselect" }
    .min-w-96.w-fit
      %div{ class: dropdown_classes, data: { "multiselect-target" => "dropdown" } }
        .flex.flex-auto.flex-wrap{ data: { "multiselect-target" => "showSelectedArea" } }
        %div{ class: dropdown_indicator_classes }
          ^
