.mb-4
  - if @label
    = component('tailwinds/form/label', for: @for) do
      = @label
  .flex.flex-col.relative{ data: multiselect_hash, id: "#{@for}_multiselect" }
    .min-w-96.w-fit
      .p-1.flex.border.border-gray-200.bg-white.rounded{ data: { "multiselect-target" => "dropdown" } }
        .flex.flex-auto.flex-wrap{ data: { "multiselect-target" => "showSelectedArea" } }
        .text-gray-300.w-8.py-1.pl-2.pr-1.border-l.flex.items-center.border-gray-200
          ^
