.flex.items-center.justify-between
  - classes = "#{size_class(:submit_button)} #{submit_button_base_classes}"

  = helpers.tramway_button text: @text,
    type: :submit,
    name: :commit,
    size:,
    class: classes,
    **@options

  = @content
