.flex.flex-col.gap-1{ class: position_classes }
  - if text.present?
    .max-w-lg.rounded-lg.px-4.py-3.text-sm.shadow-sm{ class: color_classes }
      = component 'tramway/native_text', text:, klass: position.to_sym == :right ? 'text-zinc-950' : 'text-zinc-200'

      - if sent_at.present?
        .mt-2.text-right.text-xs.text-zinc-500
          = sent_at
  = content
