%span.first.px-3.py-2.text-sm.font-medium.text-purple-700.bg-white.rounded-md.hover:bg-purple-100.dark:text-white
  = link_to_unless current_page.first?, t('views.pagination.first').html_safe, url, remote: remote
