- unless current_page.last?
  = link_to t('views.pagination.last').html_safe, url, remote:, class: pagination_classes(klass: 'last hidden sm:flex')
  = link_to '⭲', url, remote:, class: pagination_classes(klass: 'last sm:hidden font-bold')
