- if page.current?
  %span.px-3.py-2.font-medium.rounded-md.bg-purple-500.text-white.dark:text-gray-800.dark:bg-white
    = page
- else
  = link_to url, remote:, rel: page.rel, class: 'cursor-pointer px-3 py-2 font-medium text-purple-700 bg-white rounded-md hover:bg-purple-100 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700' do
    = page
