:css
  @keyframes fadeout {
    0% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .flash {
    animation: fadeout 2.7s ease-out forwards;
  }

.fixed.top-4.right-4.z-50.space-y-2{ **options }
  .flash.opacity-100.text-white.px-4.py-2.rounded.shadow{ class: "bg-#{resolved_color}-700" }
    .text-xl.font-bold
      = text
