:css
  @keyframes fadeout {
    0% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .flash {
    animation: fadeout 2.7s ease-out forwards;
    pointer-events: none;
  }

%div{ class: container_classes, **options }
  %div{ class: flash_classes }
    %div{ class: title_classes }
      = text
