.div-table.mt-4.shadow-lg.bg-white.border.py-1.px-2
  = content
  -# - @entities.each do |item|
  -#   .div-table-row.grid.gap-4.border-b{ class: 'grid-cols-[1fr,2fr,1fr]' }
  -#     .div-table-cell.py-2
  -#       = item[0]
  -#     .div-table-cell.py-2
  -#       = item[1]
  -#     .div-table-cell.py-2.text-right
  -#       = item[2]
