-# .div-table.w-full.text-left.rtl:text-right.text-gray-500.dark:text-gray-400.mt-4
-#   = content

.div-table.w-full.text-left.rtl:text-right.text-gray-500.dark:text-gray-400.mt-4
  .div-table-row.hidden.md:grid.text-small.gap-4.text-gray-700.bg-gray-50.dark:bg-gray-700.dark:text-gray-400{ class: "grid-cols-[1fr,1fr,1fr,1fr]" }
    .div-table-cell.py-4.px-6 Email
    .div-table-cell.py-4.px-6 Created at
    .div-table-cell.py-4.px-6 Email
    .div-table-cell.py-4.px-6 Email

  %details.div-table-row.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
    %summary.cursor-pointer.flex.gap-4.py-4.px-6.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.md:grid{ class: "grid-cols-[1fr,1fr,1fr,1fr]" }
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base kalashnikovisme@gmail.com
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base 2024-09-05 01:23:37 UTC
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base kalashnikovisme@gmail.com
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base kalashnikovisme@gmail.com
    .bg-gray-50.dark:bg-gray-700.dark:text-gray-400.p-4
      %p
        %strong Email:
        |  kalashnikovisme@gmail.com
      %p
        %strong Created at:
        |  2024-09-05 01:23:37 UTC
      %p
        %strong Email (Repeated):
        |  kalashnikovisme@gmail.com
      %p
        %strong Email (Repeated):
        |  kalashnikovisme@gmail.com

  %details.div-table-row.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
    %summary.cursor-pointer.flex.gap-4.py-4.px-6.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.md:grid{ class: "grid-cols-[1fr,1fr,1fr,1fr]" }
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base admin@admin
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base 2024-09-05 01:23:37 UTC
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base admin@admin
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base admin@admin
    .bg-gray-50.dark:bg-gray-700.dark:text-gray-400.p-4
      %p
        %strong Email:
        |  admin@admin
      %p
        %strong Created at:
        |  2024-09-05 01:23:37 UTC
      %p
        %strong Email (Repeated):
        |  admin@admin
      %p
        %strong Email (Repeated):
        |  admin@admin

  %details.div-table-row.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700
    %summary.cursor-pointer.flex.gap-4.py-4.px-6.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.md:grid{ class: "grid-cols-[1fr,1fr,1fr,1fr]" }
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base joey@dare.example
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base 2024-09-05 01:23:37 UTC
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base joey@dare.example
      .font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base joey@dare.example
    .bg-gray-50.dark:bg-gray-700.dark:text-gray-400.p-4
      %p
        %strong Email:
        |  joey@dare.example
      %p
        %strong Created at:
        |  2024-09-05 01:23:37 UTC
      %p
        %strong Email (Repeated):
        |  joey@dare.example
      %p
        %strong Email (Repeated):
        |  joey@dare.example
