:css
  @keyframes roll-up {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .animate-roll-up {
    animation: roll-up 0.5s ease-in-out;
  }

#roll-up{ class: preview_classes }
  %button{ class: close_button_classes, "data-action" => "click->preview#close", "data-controller" => "preview" }
    &#x2715;
