:css
  @keyframes roll-up {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  .animate-roll-up {
    animation: roll-up 0.5s ease-in-out;
  }

%div.fixed.inset-x-0.bottom-0.bg-white.shadow-lg.z-50.sm:hidden.dark:bg-gray-800.animate-roll-up{ class: 'h-1/2' }
  %p Your content goes here
