.div-table-row.grid.text-small.gap-4.bg-gray-700.text-gray-400.grid-cols-1{ class: "md:grid-cols-#{columns_count}", aria: { label: "Table Header" }, role: "row" }
  - if headers.any?
    - headers.each do |header|
      .div-table-cell.py-4.px-6.first:block.hidden.md:block
        = header
  - else
    = content
