- cols = headers.map { |item| "1fr" }.join(",")

.div-table-row.hidden.md:block.text-small.grid.gap-4.text-gray-700.bg-gray-50.dark:bg-gray-700.dark:text-gray-400{ class: "grid-cols-[#{cols}]" }
  - headers.each do |header|
    .div-table-cell.py-2.px-2
      = header
