- cols = cells.count.times.map { |item| "1fr" }.join(",")

.div-table-row.hidden.md:grid.gap-4.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700{ class: "grid-cols-[#{cols}]" }
  - cells.each do |(_, value)|
    .div-table-cell.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white.text-xs.sm:text-base
      = value

.div-table-row.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.md:hidden{"data-action" => "click->preview#toggle", "data-controller" => "preview", "data-cells" => cells.to_json }
  .w-full.p-4.text-gray-700.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
    = cells.values.first

  .flex.overflow-x-auto.whitespace-nowrap
    - cells.each_with_index do |(_, value), index|
      - next if index == 0

      .text-gray-900.dark:text-white.p-4.text-xs.sm:text-base.inline-block.w-auto
        = value
