- cols = cells.count.times.map { |item| "1fr" }.join(",")

.div-table-row.hidden.md:block.grid.gap-4.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700{ class: "grid-cols-[#{cols}]" }
  - cells.each do |cell|
    .div-table-cell.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white.text-xs.sm:text-base
    = cell

.div-table-row.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.md:hidden
  .w-full.p-4.text-gray-700.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
    = cells.first

  .flex
    - cells.each_with_index do |cell, index|
      - next if index == 0

      .text-gray-900.dark:text-white.p-4.text-xs.sm:text-base{ class: "w-1/3" }
        = cell
