- unless current_page.first?
  = link_to helpers.t('views.pagination.first').html_safe,
    url,
    remote:,
    class: pagination_classes(klass: 'first sm:hidden flex')

  = link_to '⭰',
    url,
    remote:,
    class: pagination_classes(klass: 'first hidden sm:flex font-bold')
