- unless current_page.last?
  = link_to helpers.t('views.pagination.last').html_safe,
    url,
    remote:,
    class: pagination_classes(klass: 'last sm:hidden flex')

  = link_to '⭲',
    url,
    remote:,
    class: pagination_classes(klass: 'last hidden sm:flex font-bold')
