- if page.current?
  %span.px-3.py-2.font-medium.rounded-md.text-gray-800.bg-white
    = page
- else
  = link_to page,
    url,
    remote:,
    rel: page.rel,
    class: pagination_classes(klass: 'hidden sm:flex')
