%div{ class: "#{header_row_classes} md:grid-cols-#{columns_count}", aria: { label: "Table Header" }, role: "row" }
  - if headers.any?
    - headers.each do |header|
      .div-table-cell{ class: header_cell_classes }
        = header
  - else
    = content
