- if on_the_left?
  = component 'tramway/chats/messages/container',
    position: :left,
    text:,
    sent_at:,
    show_sent_at: show_sent_at? do
    - if data_view == :table
      = component 'tramway/chats/messages/table', data:

- if on_the_right?
  = component 'tramway/chats/messages/container',
    position: :right,
    text:,
    sent_at:,
    show_sent_at: show_sent_at? do

    - if pending?
      .pb-1
        -# = inline_svg 'icons/spinner.svg', class: 'h-4 w-4 animate-spin text-zinc-50'

    - if failed?
      .pb-1
        -# = inline_svg 'icons/cross.svg', class: 'h-6 w-6 text-red-400'

    - if data_view == :table
      = component 'tramway/chats/messages/table', data:
