- unless Rails.env.production?
  / ==== COMMENTS FROM TRAMWAY ====
  / You should set `show_path` method in #{decorator_class} to make the row below clickable and redirect to the associated record's show page.
  / ==== COMMENTS FROM TRAMWAY ====
