name: RSpec with Appraisal

on: [workflow_call]

jobs:
  rspec:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4', '4.0']
        appraisal: ['rails-7.1', 'rails-7.2', 'rails-8.0', 'rails-8.1']

    runs-on: ubuntu-latest
    env:
      BUNDLE_PATH: vendor/bundle
      BUNDLE_DISABLE_SHARED_GEMS: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install Chrome for headless testing
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install dependencies for Appraisal
        run: |
          bundle config set path 'vendor/bundle'
          bundle config set disable_shared_gems 'true'
          bundle install --jobs 4 --retry 3
          bundle exec appraisal install

      - name: Precompile assets
        run: |
          bundle exec appraisal ${{ matrix.appraisal }} rails -C spec/dummy assets:precompile

      - name: Initialize db
        run: |
          bundle exec appraisal ${{ matrix.appraisal }} rails -C spec/dummy db:create db:migrate

      - name: Run RSpec tests
        env:
          DISPLAY: ":99"
        run: |
          sudo Xvfb :99 -ac &
          bundle exec appraisal ${{ matrix.appraisal }} rspec
